## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
**/[Pp]ackages/*

## Build results
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## IDE
.vscode/
.idea/

## Android build artifacts
*.apk
*.aab

## Publish output
publish/

## Logs
*.log

## OS
Thumbs.db
.DS_Store
